.selling-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.demo-card-square {
  width: 250px;
  height: 250px;
  margin: 55px;
}

.landing {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.point {
  width: 33%;
}

@media only screen and (max-width: 640px) {
  .selling-points {
    flex-direction: column;
    align-items: center;
    height: 150vh;
  }

  .landing {
    height: 150vh;
  }
}
